/* Font-family: Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.container--width-1170{
    max-width: 1170px;
    margin: 0 auto;
}
.header__container{
    height: 20vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header__logo{
    margin:50px auto 50px 0px;
}

.header__nav-list{
    margin: 65px 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.header__nav-links{
    padding-right: 70px;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
}

.banner{
    text-align: center;
    /* max-height: 80vh; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner--image{
    background-image: url("./resources/hero-banner.jpg");
    background-color: #ccc;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner__intro{
    font-weight: bold;
    font-size: 70px;
    color: #333333;
    /* padding-top: 350px; */
    margin: 0;
}
.banner__profile{
    margin: 25px 0 0 0;
}
.section-title{
    font-weight: 600;
    font-size: 36px;
    color: #333333;
}
.about-us{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.about-us__heading{
    margin: 0;
    margin-right: 220px;
    min-width: fit-content;
    font-weight: 600;
    font-size: 36px;
    color: #333333;
}

.about-us__description{
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
}
.btn{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    border: 2px solid #333333;
    padding: 20px 40px;
    border-radius: 4px;
    background-color: transparent;
}
.btn:hover{
    background: #333333;
    color: #ffffff;
}
.about-us__read-more{
    margin-top: 25px;
}

.projects{
    padding:100px 0;
    text-align: center;
    background-color: #f7fbff;
}
.projects__container{
    padding:50px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 34px;
}
.projects__heading{
    margin: 0;
    text-align: center;
}

.footer{
    text-align: center;
}
.footer__sub-title{
    margin:34px 0;
    font-weight: normal;
    font-size: 18px;
    color: #333333;
    font-style: italic;
}
.footer__section{
    border:1px solid #f2f2f2;
    padding: 100px 0;
}
.footer__bottom{
    text-align: left;
}
.footer__copyright{
    display: block;
    margin: 45px 0;
    font-weight: lighter;
    color: #333333;
}
.footer__icon{
    margin-right: 10px;
}

.hamburger{
    display: none;
}
.menu{
    display: none;
}
@media screen and (max-width: 1300px) {
    /* .container--width-1170{
        padding: 0 15px;
    } */
    .header__logo{
        margin: 25px auto 25px 30px;
    }
    .header__nav-list{
        display: none;
    }
    .hamburger{
        display: block;
        margin-right: 30px;
    }
    .menu{
        display: hidden;
        position: relative;
        z-index: 10;
        box-shadow: 0px 0px 5px 0px #878787;
    }
    .menu__nav-list{
        list-style: none;
        margin: 0;
    }
    .menu__nav-links{
        display: block;
        padding: 25px 0;
    }
    .about-us{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-us__heading{
        margin: 0;
    }
    .about-us__desc-container{
        text-align: center;
        padding: 0 30px;
    }
    .projects__container{
        display: flex;
        flex-direction: column;
    }
    .footer__bottom{
        text-align: center;
    }
    .footer__copyright{
        color: #999;
    }
}