/* Font-family: Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
.header__container{
    max-width: 1170px;
    height: 20vh;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header__logo{
    margin:50px auto 50px 0px;
}

.header__nav-list{
    margin: 65px 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.header__nav-links{
    padding-right: 70px;
    font-weight: 500;
    font-size: 16px;
    color: #333333;
}

.banner{
    text-align: center;
    /* max-height: 80vh; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner--image{
    background-image: url("./resources/hero-banner.jpg");
    background-color: #ccc;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner__intro{
    font-weight: bold;
    font-size: 70px;
    color: #333333;
    /* padding-top: 350px; */
    margin: 0;
}
.banner__profile{
    margin: 25px 0 0 0;
    /* padding-bottom: 350px; */
    font-weight: 500;
    font-size:28px;
    color: #333333;
}
